.textarea_container {
  position: relative;
  margin-top: auto;
  margin-bottom: 10px;
}

.textarea_bar {
  box-sizing: border-box;
  min-height: 80px;
  max-height: 160px;
  height: 100px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  background: #ffffff;
  padding: 8px;
  transition: all 0.3s ease-out;
  border: solid 2px transparent;
  resize: none;
  color: #0f2978;

  font: inherit;
  font-weight: 600;
}

.textarea_bar:focus {
  color: #0f2978;
  background-color: #e6f5f9;
  border: solid 2px #023ae0;
}

.textarea_bar:not(:focus):valid {
  background-color: #e6f5f9;
  border: solid 2px #023ae0;
}

.textarea_label {
  position: absolute;
  pointer-events: none;
  padding: 0 4px;
  left: 10px;
  top: 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;

  color: #bbc0d0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

.textarea_bar:hover ~ .textarea_label {
  color: #023ae0;
}

.textarea_bar:focus ~ .textarea_label,
.textarea_bar:not(:focus):valid ~ .textarea_label {
  top: -12px;
  font-size: 14px;
  color: #023ae0;
  background-color: #e6f5f9;
}

.error_details {
  margin-bottom: 16px;
}

.exception_button {
  width: 172px;
}
