.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #bbc0d0;
  width: 100%;
  max-width: 360px;
  color: #f8f8f8;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #e6f5f9;

    .content {
      color: #023ae0;
    }
  }

  &:active {
    background-color: #023ae0;

    .content {
      color: #f8f8f8;
    }
  }
}

.active {
  background: linear-gradient(99.66deg, #f76996 12.44%, #ff7070 90.29%);

  .badge {
    > p {
      color: #3d053a;
    }
  }

  &:hover {
    .content {
      color: #f8f8f8;
    }
  }
}

.content {
  padding: 48px 0 31px;
  transition: all 0.3s ease-out;
}

.amount {
  font-size: 64px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0em;
}

.term {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.type {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 14px;
  background-color: #3d053a;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 10px;
}

.text {
  position: absolute;
  top: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #ff4d15;
  transition: all 0.3s ease-out;
}

p {
  margin: 0;
}
