.pagination {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 150px;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 0;
  margin-top: auto;
  flex-shrink: 0;

  .selectRowNumbers {
    width: fit-content;
  }

  .pageNumber {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }

  span {
    color: #0f2978;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  p {
    height: 30px;
    width: 30px;
    text-align: center;

    & svg {
      fill: #0f2978;
    }
    &:hover svg {
      fill: #023ae0;
    }

    &:active svg {
      transform: scale(1.2);
      fill: #ff7070;
    }
  }
}
