div.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  border-radius: 0px 16px 19px 0px;
  background: linear-gradient(99deg, #00c6ff 13%, #0072ff);
  width: 12rem;
  min-width: 12rem;
  min-height: 690px;
  height: 100%;
  padding-left: 0.5rem;

  font-size: 1rem;
  font-style: normal;
  line-height: 1.12rem;
  font-weight: 600 !important;
  a {
    color: white;
    text-decoration: none;
  }
}

.navbar a:first-child {
  margin-bottom: 2.9rem;
  margin-top: 1rem;
  align-self: center;
}

.navbar_logo {
  display: block;
  content: url('../../assets/icons/logo-white.svg');
  width: 5.75rem;
}

.menu_item {
  display: flex;
  align-items: center;
  min-width: 12.5rem;
  width: 12.5rem;
  height: 2.5rem;
  padding: 0.8rem;
  border-radius: 2.5rem;
  margin-bottom: 0.65rem;
  transition: 0.3s ease-out;
}

.menu_item span {
  margin-left: 10px;
}

.menu_item:hover {
  color: #0f2978;
}

.menu_item.active,
.menu_item.active:hover {
  background-color: #f8f8f8;
  color: #ff7070;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.link_icon {
  height: 24px;
  width: 24px;
  fill: #f8f8f8;
  transition: 0.3s ease-in-out;
}

.menu_item:hover .link_icon {
  fill: #0f2978;
}

.menu_item_exit {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 2rem;
}
