.strength {
  box-sizing: border-box;
  margin-top: 8px;
  .description {
    margin-bottom: 4px;
    div {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    span {
      white-space: nowrap;
      line-height: 19px;
      font-size: 12px;
      font-weight: 400;
      margin-left: 11px;
      color: #0f2978;
    }

    svg {
      display: block;
    }
  }
  .label {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;

    span {
      white-space: nowrap;
      line-height: 19px;
      font-size: 12px;
      font-weight: 700;
    }

    span:first-child {
      color: #0f2978;
    }

    span:last-child {
      margin-left: 5px;
      color: #727787;
    }

    &.Weak span:last-child {
      color: #dc0000;
    }

    &.Fair span:last-child {
      color: #ffc400ab;
    }

    &.Good span:last-child {
      color: #64dd17;
    }

    &.Strong span:last-child {
      color: #00c853;
    }
  }

  .bars {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    div {
      height: 4px;
      width: 79px;
      background-color: #bbc0d0;
      border-radius: 2px;
    }

    &.Weak div:nth-child(1) {
      background-color: #dc0000;
    }

    &.Fair div {
      &:nth-child(1) {
        background-color: #ffc400;
      }
      &:nth-child(2) {
        background-color: #ffc400;
      }
    }

    &.Good div {
      &:nth-child(1) {
        background-color: #64dd17;
      }
      &:nth-child(2) {
        background-color: #64dd17;
      }
      &:nth-child(3) {
        background-color: #64dd17;
      }
    }

    &.Strong div {
      &:nth-child(1) {
        background-color: #00c853;
      }
      &:nth-child(2) {
        background-color: #00c853;
      }
      &:nth-child(3) {
        background-color: #00c853;
      }
      &:nth-child(4) {
        background-color: #00c853;
      }
    }
  }
}
