.mainBg {
  background-color: #f8f8f8;
  background-image: url('../../assets/images/AnalyticsBG.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
  background-color: #f8f8f8;
}
