.button_simple {
  height: 2.5rem;
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #bbc0d0;
  border-radius: 0.5rem;
  padding: 0.375rem 1.25rem 0.375rem 1.25rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-out;
  user-select: none;
  color: #ececec;

  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.75rem;
}

.button_simple:focus {
  outline: none;
  box-shadow: none;
  background-color: #1c40ac;
  color: #ffffff;
}

.button_simple:hover {
  outline: none;
  box-shadow: none;
  transform: scale(1.1);
  color: #e6f5f9;
}
