.menu {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.content {
}

.bottom {
  margin-top: auto;
  margin-bottom: 9px;
  margin-left: 9px;
}
.settings {
  cursor: pointer;
}
