.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 254px;
  height: 100%;
  min-height: 634px;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.content {
}

.settings {
  cursor: pointer;
}
