.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 254px;
  height: 100%;
  min-height: 634px;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
}

.content {
}

.item {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #0f2978;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: #023ae0;
  }

  &:active {
    background-color: #effcef;
    color: #0f2978;
  }
}

.active {
  background-color: #ffefe2;
}

.activeSingle {
  background-color: #e6f5f9;
}

.settings {
  cursor: pointer;
}
